body
{
  margin:0px;
  
}
header
{
  position:fixed;
  padding:none;
  margin-left:0px;
  background: black;
  margin-top: -30px;
  width:100%;
  height: 80px;
  margin-right: 0px;
}

header li,a{
  display:inline;
  list-style: none;
  font-size:20px;
  margin-left: 10px;
  margin-top:0px;
  text-decoration: none;
  position: relative;
  padding:10px;

}

header a:hover
{
text-decoration:underline;
color:green;
}
.logo
{
width:100px;
height: 50px;
margin-left: 10px;
float: left;
padding-top: 20px;

}





/* Footer Styling */

.fb-body-footer{
  width:100%;
  position:fixed;
  left:0px;
  height:70px;
  margin-top: 600px;
  background-color: #131A22;

  
}
#fb-body-footer-base{
  width:100%;
  top:15px;
  color:white;
  height:100px;
  background-color:#131A22; 
  float:center;
  padding: 10px;
   
}

.fa {
  font-size: 30px;
  width: 30px;
  margin-right: 20px;
  float: right;
  color:white;
  margin-bottom: 20px;
  text-decoration: none;
}